<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>PathSharing</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">

    <script src='/bower_components/angular/angular.js'></script>

    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>

    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

    <script src='app.js'></script>
</head>
<body>

<!-- <h1 ng-bind="jsVar"></h1> --->
    <img class="img" src="header-img.png" alt="Pathfinder" style="width:800px;height:200px;"/>

    <!-- TODO login beter maken --->
    <div class="login">
        <table>
            <tr>
                <td><input style="width: 180px;" type="text" placeholder="Username"/></td>
            </tr>
            <tr>
                <td><input style="width: 180px;" type="password" placeholder="Password"/></td>
            </tr>
            <tr>
                <td>
                    <a href="#here">Forgot password</a>
                    <button>Login</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="nav">
        <button class="button" ng-click="request('')">Home</button>
        <button class="button" ng-click="request('groups')">Groups</button>
        <button class="button" ng-click="request('user')">User</button>
        <button class="button" ng-click="request('about')">About</button>
    </div>
    <!-- TODO content vullen met data uit de back-end (DB) --->
    <div class="content">
        <li>
            <ul ng-repeat="n in jsVar">{{ n }}</ul>
        </li>
    </div>
</body>
</html>
