<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form>

            <div class="form-group">
                <label for="groupName">Group Name</label>
                <input type="text" class="form-control" id="groupName" placeholder="Group Name" ng-model="group.name">
            </div>

            <div class="form-group">
                <textarea class="form-control" placeholder="Group Description" ng-model="group.description"></textarea>
            </div>

            <button class="btn btn-lg btn-primary" ng-click="create_group(group)">Create Group</button>

        </form>
        <div class="alert alert-warning" ng-if="error">{{ error }}</div>
        <div class="alert alert-success" ng-if="success">{{ success }}</div>
    </div>
</div>