<div class="row" ng-repeat="group in groups">
    <ul class="list-group">
        <a ng-click="opengroup(group.id)" class="list-group-item">
            <h2 class="list-group-item-heading">{{ group.name }}</h2>
            <h4 class="list-group-item-heading">Description</h4>
            <p class="list-group-item-text">{{ group.description }}</p>
            <h4 class="list-group-item-heading">Members</h4>
            <p class="list-group-item-text"><span ng-repeat="member in group.members">{{ member }} </span></p>
        </a>
    </ul>
</div>
<div class="alert alert-warning" ng-if="error">{{ error }}</div>
